.container.contact_container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.contact__option {
  width: 300px;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: var(--color-bg-variant-hover);
  border-color: var(--color-primary-variant);
}

.contact__option icon a {
  margin-top: 00.75rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2 rem;
  width: 55%;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__container p {
    margin: 1.5rem 0;
  }
}

input {
  margin-bottom: 20px;
}
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-bg-variant-hover);
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}
